
CONFIG_IDF_EXPERIMENTAL_FEATURES=y

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y

#
# ESP System Settings
#
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=360
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_360=y

#
# ESP NETIF Adapter
#
CONFIG_ESP_NETIF_IP_LOST_TIMER_INTERVAL=120
CONFIG_ESP_NETIF_TCPIP_LWIP=y
# CONFIG_ESP_NETIF_LOOPBACK is not set
CONFIG_ESP_NETIF_USES_TCPIP_WITH_BSD_API=y

#
# ESP PSRAM
#
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_SPIRAM_SPEED=200
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=n
CONFIG_SPIRAM_USE_CAPS_ALLOC=y

#
# Cache config
#
CONFIG_CACHE_L2_CACHE_128KB=y
CONFIG_CACHE_L2_CACHE_SIZE=0x20000
CONFIG_CACHE_L2_CACHE_LINE_64B=y
CONFIG_CACHE_L2_CACHE_LINE_SIZE=64
CONFIG_CACHE_L1_CACHE_LINE_SIZE=64

#
# Wi-Fi
#
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER=y
CONFIG_ESP_WIFI_TX_BUFFER_TYPE=1
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=32
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=80
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=80

#
# SDIO
#
#CONFIG_ESP_SDIO_OPTIMIZATION_RX_NONE=y
#CONFIG_ESP_SDIO_OPTIMIZATION_RX_MAX_SIZE=y
#CONFIG_ESP_SDIO_OPTIMIZATION_RX_STREAMING_MODE=y
CONFIG_ESP_SDIO_CLOCK_FREQ=40000
#CONFIG_ESP_SDIO_CHECKSUM=y
CONFIG_ESP_PKT_STATS=y

CONFIG_SLAVE_LWIP_ENABLED=y
CONFIG_HOST_USES_STATIC_NETIF=n
#CONFIG_LWIP_TCP_LOCAL_PORT_RANGE_START=49152
#CONFIG_LWIP_TCP_LOCAL_PORT_RANGE_END=61439
#CONFIG_LWIP_UDP_LOCAL_PORT_RANGE_START=49152
#CONFIG_LWIP_UDP_LOCAL_PORT_RANGE_END=61439

#
# Use Hosted lib
#
CONFIG_ESP_WIFI_REMOTE_LIBRARY_HOSTED=y
CONFIG_H2S_WIFI_FLOW_CTRL=n

# For V1.0B board
# CONFIG_BSP_BOARD_TYPE_SAMPLE_V10B=y
# CONFIG_ESP_SDIO_PIN_D0=49
# CONFIG_ESP_SDIO_PIN_D1=50

# For V1.2 Board
CONFIG_BSP_BOARD_TYPE_SAMPLE_V12=y
CONFIG_ESP_SDIO_PIN_D0=14
CONFIG_ESP_SDIO_PIN_D1=15
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=y

# Uncomment only one of the camera group of options

CONFIG_CAMERA_SC2336=y
CONFIG_CAMERA_SC2336_AUTO_DETECT=y
CONFIG_CAMERA_SC2336_AUTO_DETECT_MIPI_INTERFACE_SENSOR=y
CONFIG_CAMERA_SC2336_MIPI_RAW8_1920x1080_30FPS=y

# CONFIG_CAMERA_OV5647=y
# CONFIG_CAMERA_OV5647_AUTO_DETECT=y
# CONFIG_CAMERA_OV5647_MIPI_RAW10_1920x1080_30FPS=y
# CONFIG_CAMERA_OV5647_AUTO_DETECT_MIPI_INTERFACE_SENSOR=y
