# BT Configuration
CONFIG_BT_ENABLED=y
CONFIG_BT_CONTROLLER_ONLY=y
CONFIG_NW_COPROC_BT_ENABLED=y

CONFIG_ESP32_WIFI_NVS_ENABLED=

# OTA
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_TWO_OTA=y

# OS
CONFIG_FREERTOS_HZ=1000

# Enable network only capabilities
CONFIG_ADAPTER_ONLY_MODE=y
