# This is a list of python packages used to generate documentation. This file is used with pip:
# pip install --user -r requirements.txt
#
esp-docs>=0.5.0
sphinx>=4.4.0
sphinx_rtd_theme>=1.0.0
breathe>=4.33.1
sphinxcontrib-blockdiag>=2.0.0
sphinxcontrib-seqdiag>=2.0.0
sphinxcontrib-actdiag>=2.0.0
sphinxcontrib-nwdiag>=2.0.0
sphinxcontrib-plantuml>=0.24.1
plantuml
sphinx-copybutton>=0.5.0
sphinx-notfound-page>=0.8.3
sphinx-autodoc-typehints>=1.17.0
