*.iml
.DS_Store
.github/github_deploy_key.enc
.idea
build
cmake-build-debug/
cmake-build-release/
doc/
open-source/libgtest
open-source/libjsmn
open-source/libopenssl
open-source/libsrtp
open-source/libusrsctp
open-source/libwebsockets
open-source/local
outputs
tags
