*.iml
.DS_Store
.idea
build
cmake-build-debug/
cmake-build-release/
open-source/libgtest
open-source/libjsmn
open-source/libsrtp
open-source/libusrsctp
open-source/libwebsockets
open-source/local
outputs
open-source/amazon-kinesis-video-streams-producer-sdk-cpp
