*.iml
.DS_Store
.github/github_deploy_key.enc
.idea
build
cmake-build-debug/
cmake-build-release/
doc/
open-source/
samples/h265GSTSampleFrames/
samples/vp8SampleFrames/
outputs
tags
CMakeLists.txt.user
*.vscode
*.swp
