language: cpp

os:
  - linux
  - osx

compiler:
  - gcc
  - clang

branches:
  only:
  - master

cache:
- directories:
  - $HOME/.cache

env:
  - ASAN_OPTIONS=detect_odr_violation=0

script:
  - mkdir build && cd build
  - |
    if [[ "${TRAVIS_OS_NAME}" = "linux" && "${TRAVIS_COMPILER}" = "gcc" ]]; then
      cmake .. -DCODE_COVERAGE=TRUE -DBUILD_TEST=TRUE
    elif [[ "${TRAVIS_OS_NAME}" = "linux" && "${TRAVIS_COMPILER}" = "clang" ]]; then
      cmake .. -DADDRESS_SANITIZER=TRUE -DBUILD_TEST=TRUE
    else
      cmake .. -DBUILD_TEST=TRUE
    fi
  - make
  - ./tst/webrtc_client_test

after_success:
  - |
    if [[ "${TRAVIS_OS_NAME}" = "linux" && "${TRAVIS_COMPILER}" = "gcc" ]]; then
      for test_file in $(find CMakeFiles/kvsWebrtcClient.dir CMakeFiles/kvsWebrtcSignalingClient.dir -name '*.gcno'); do gcov $test_file; done
      bash <(curl -s https://codecov.io/bash)
    fi
