# Additional optimizations for ESP32-C6
CONFIG_COMPILER_OPTIMIZATION_SIZE=y

# SPI Configuration
CONFIG_SPI_MASTER_ISR_IN_IRAM=n
CONFIG_SPI_SLAVE_ISR_IN_IRAM=n

# SPI Flash driver
CONFIG_SPI_FLASH_ROM_DRIVER_PATCH=n
CONFIG_SPI_FLASH_ROM_IMPL=y

# Peripheral Control
CONFIG_PERIPH_CTRL_FUNC_IN_IRAM=n

# Event Loop Library
CONFIG_ESP_EVENT_POST_FROM_ISR=n

#
# Wi-Fi
#
CONFIG_ESP_WIFI_IRAM_OPT=n
CONFIG_ESP_WIFI_RX_IRAM_OPT=n
CONFIG_ESP_WIFI_EXTRA_IRAM_OPT=n
CONFIG_ESP_WIFI_SLP_IRAM_OPT=n

#
# ESP-Hosted - Network coprocessor
#
CONFIG_SLAVE_LWIP_ENABLED=y
CONFIG_ESP_SDIO_RX_Q_SIZE=10
