name: Doxygen GitHub Pages Deploy Action WebRTC C SDK

on:
  push:
    branches:
      - doxygen-ga-develop

jobs:
  generate-and-deploy-doxygen:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: "true"

      - name: Install requirements
        run: sudo apt-get install doxygen graphviz ttf-freefont -y
        shell: bash

      - name: Generate Doxygen Documentation
        run: doxygen Doxyfile
        shell: bash
      
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.2.5
        with:
          folder: doc
          branch: gh-pages