name: Doxygen GitHub Pages Deploy Action WebRTC C SDK

on:
  push:
    branches:
      - main
      - develop

jobs:
  generate-and-deploy-doxygen:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install requirements
        run: sudo apt-get install doxygen graphviz -y
        shell: bash

      - name: Generate Doxygen Documentation
        run: doxygen Doxyfile
        shell: bash

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.2.5
        with:
          folder: doc/html
          branch: gh-pages
